.footer {
  /* width: 100%; */
  height: 100vh;
  background-color: black;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  color: white;
}
.text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
 
}
.textFooter{
  color: white;
}
.contact {
  padding-top: 10%;
  color: white;
}
a {
  cursor: pointer;
  text-decoration: none;
  background-image: linear-gradient(white, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 100% 2px;
  transition: background-size 0.3s;
}

a:hover,
a:focus {
  background-size: 0% 2px;
}

.redes {
  height: 10%;
  width: 30%;
  align-items: center;
  align-content: flex-end;
  display: flex;
}

#logo:hover {
  transform: scale(1.1);
  transition: 0.2s;
  /* z-index: 10000; */
}

.logo a {
  background-image: none;
}

@media (max-width: 767.98px) {
  .redes {

    width: 80%;

  }
}
